<section class="mt-5">
    <table class="table table-md mt-2 w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Población</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (countries of countries(); track countries.cca2; let index = $index) {
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ countries.flag }}</td>
                <td>
                    <img [src]="countries.flagSvg" [alt]="countries.name" class="w-10">
                </td>
                <td>{{ countries.name }}</td>
                <td>{{countries.capital}}</td>
                <td>
                    <span class="badge badge-secundary">
                        {{ countries.population | number }}
                    </span>
                </td>
                <td>
                    <a 
                    [routerLink]="['/country/by', countries.cca2]"
                    class="link-primary cursor-pointer">Más Información</a>
                </td>
            </tr>

            }

        </tbody>
    </table>
</section>